#table-content {
  table-layout: fixed;
  width: 0;
  border: var(--main-color-dark) 1px solid;
  border-top: none;
  border-right: none;
  border-spacing: 0;
  border-collapse: separate;
  cursor: default;
}
#table-content > tbody > tr {
  --row-background-color: var(--main-color-neutral);
}
#table-content > tbody > tr:nth-child(even), #table-content > thead > tr, #table-content > tfoot > tr {
  --row-background-color: var(--main-color-light);
}
#table-content th, #table-content td {
  background-color: var(--row-background-color);
  border: var(--main-color-dark) 1px solid;
}
#table-content td {
  position: relative;
  padding: 0;
}
#table-content th {
  position: sticky;
  top: 0;
  padding: 2px 6px;
}
#table-content > tfoot > tr > td {
  position: sticky;
  bottom: 0;
}

#table-content #add-new-column-button {
  cursor: pointer;
  width: 8em;
  color: var(--text-color-link);
  border: none;
  background-color: transparent;
  white-space: nowrap;
  font-weight: normal;
}
#table-content #add-new-row-button {
  cursor: pointer;
  color: var(--text-color-link);
  padding: 0;
  vertical-align: middle;
  text-align: center;
}
#table-content #add-new-column-button:hover, #table-content #add-new-row-button:hover {
  color: var(--text-color-link-hover);
}

#table-content [contenteditable] {
  padding: 2px 6px;

  &[placeholder]:empty::before {
    content: attr(placeholder);
    z-index: 9;
    line-height: 1.7;
    color: var(--text-color-light);
    text-align: center;
    word-break: break-all;
    user-select: none;
  }

  &[placeholder]:empty:focus::before {
    content: "";
  }
}

#table-content select {
  padding: 2px 6px;
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.cell-null {
  background-color: var(--main-color-dark);
}

.cell-error {
  position: relative;
  background-color: var(--error-color);
  color: var(--text-color-error);
}
.cell-error [placeholder]:empty::before {
  color: var(--text-color-error) !important;
}

.cell-error-tooltip {
  visibility: hidden;
  width: calc(100% + 20px);
  background-color: var(--main-color-dark);
  color: var(--text-color-light);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  margin-left: -10px;
  margin-right: -10px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.cell-error-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--main-color-dark) transparent transparent transparent;
}

.cell-error:hover .cell-error-tooltip {
  visibility: visible;
  opacity: 1;
}