.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.typescript:hover {
  filter: drop-shadow(0 0 2em #2d79c7);
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
*/

body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.top-sidebar {
  position: absolute;
  top: 0;
  height: 1.4em;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0;
  padding: 0.3em 8px 0;
  background-color: #e0e0e0;
}

.tab {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0 solid transparent;
  padding: 0.4em 0.6em;
  font-size: 0.75em;
  box-shadow: none;
}
.tab:active {
  position: relative;
  padding: 0.5em 0.7em 0;
  top: -0.15em;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.7em;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.left-container-sidebar {
  position: absolute;
  width: 200px;
  height: 100%;
  flex-direction: row;
  overflow-y: scroll;
}