/**
 * 
 * This file is for defining universal styles. 
 *
 */



:root {
  --main-color-neutral: #f6f6f6;
  --main-color-light: #fcfcfc;
  --main-color-semidark: #f0f0f0;
  --main-color-dark: #d8d8d8;
  --text-color-light: #3f3f3f;
  --text-color-neutral: #0f0f0f;
  --text-color-link: #646cff;
  --text-color-link-hover: #535bf2;
  --accent-color: #396cd8;
  --error-color: #e996a0;
  --text-color-error: #800707;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--text-color-neutral);
  background-color: var(--background-A);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color-neutral: #2f2f2f;
    --main-color-light: #3c3c3c;
    --main-color-semidark: #222222;
    --main-color-dark: #1c1c1c;
    --text-color-neutral: #f6f6f6;
    --text-color-link: #3ee9d2;
    --text-color-link-hover: #24c8db;
  }
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}
.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}
.logo.typescript:hover {
  filter: drop-shadow(0 0 2em #2d79c7);
}
.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}



/**
 * This is where my styles start.
 */

.input {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-color-neutral);
  background-color: var(--main-color-light);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}
.input:hover, .input:focus {
  border-color: var(--accent-color);
}
.input:active, .input.active {
  border-color: var(--accent-color);
  background-color: var(--main-color-dark);
}
.input:disabled {
  cursor: default;
  background-color: var(--main-color-dark);
  border: 1px solid transparent;
}


.clickable-text {
  font-weight: 500;
  color: var(--text-color-link);
  text-decoration: inherit;
  cursor: pointer;
}
.clickable-text:hover {
  color: var(--text-color-link-hover);
}


.hidden {
  display: none;
}


body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--main-color-neutral);
}

