:root {
  --main-color-neutral: #f6f6f6;
  --main-color-light: #fcfcfc;
  --main-color-semidark: #f0f0f0;
  --main-color-dark: #d8d8d8;
  --text-color-light: #3f3f3f;
  --text-color-neutral: #0f0f0f;
  --text-color-link: #646cff;
  --text-color-link-hover: #535bf2;
  --accent-color: #396cd8;
  --error-color: #e996a0;
  --text-color-error: #800707;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--text-color-neutral);
  background-color: var(--background-A);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color-neutral: #2f2f2f;
    --main-color-light: #3c3c3c;
    --main-color-semidark: #222222;
    --main-color-dark: #1c1c1c;
    --text-color-neutral: #f6f6f6;
    --text-color-link: #3ee9d2;
    --text-color-link-hover: #24c8db;
  }
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}
.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}
.logo.typescript:hover {
  filter: drop-shadow(0 0 2em #2d79c7);
}
.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}


.row {
  display: flex;
  justify-content: center;
}

a, .clickable-text {
  font-weight: 500;
  color: var(--text-color-link);
  text-decoration: inherit;
  cursor: pointer;
}
a:hover, .clickable-text:hover {
  color: var(--text-color-link-hover);
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-color-neutral);
  background-color: var(--main-color-light);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: var(--accent-color);
}
button:active {
  border-color: var(--accent-color);
  background-color: var(--main-color-dark);
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}


/**
 * This is where my styles start.
 */

body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--main-color-neutral);
}

.top-sidebar {
  position: fixed;
  top: 0;
  height: 1.4em;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0;
  padding: 0.3em 8px 0;
  background-color: var(--main-color-dark);
}

.tab {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0 solid transparent;
  padding: 0.4em 0.6em;
  font-size: 0.75em;
  box-shadow: none;
}
.tab:active {
  position: relative;
  padding: 0.5em 0.7em 0;
  top: -0.15em;
}

.left-sidebar {
  position: fixed;
  top: 1.7em;
  bottom: 0;
  left: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.left-sidebar-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 0 16px;
  display: flex;
  flex-direction: column;
}

.table-sidebar-button {
  position: relative;
  margin: 0;
  width: 100%;
  border-radius: 0;
  border-left: none;
  box-shadow: none;
}
.table-sidebar-button:hover {
  background-color: var(--main-color-semidark);
}
.table-sidebar-button:active {
  background-color: var(--main-color-dark);
}

#add-new-table-button {
  cursor: pointer;
  text-align: center;
}



.container {
  position: fixed;
  left: 200px;
  right: 0;
  top: 1.7em;
  bottom: 0;
  margin: 0;
  padding: 8px 8px 16px;
  overflow: auto;
}

.container-inner {
  overflow: auto;
}

#table-content {
  table-layout: fixed;
  border: var(--main-color-dark) 1px solid;
  border-top: none;
  border-right: none;
  border-spacing: 0;
  border-collapse: collapse;
  cursor: default;
}
#table-content > tbody > tr {
  background-color: var(--main-color-neutral);
}
#table-content > tbody > tr:nth-child(even), #table-content > thead > tr, #table-content > tfoot > tr {
  background-color: var(--main-color-light);
}
#table-content th, #table-content td {
  border: var(--main-color-dark) 1px solid;
}
#table-content td {
  position: relative;
  padding: 0;
}
#table-content th {
  padding: 2px 6px;
}

#table-content #add-new-column-button {
  cursor: pointer;
  color: var(--text-color-link);
  border: none;
  background-color: var(--main-color-neutral);
  white-space: nowrap;
  font-weight: normal;
}
#table-content #add-new-row-button {
  cursor: pointer;
  color: var(--text-color-link);
  padding: 0;
  vertical-align: middle;
  text-align: center;
}
#table-content #add-new-column-button:hover, #table-content #add-new-row-button:hover {
  color: var(--text-color-link-hover);
}

#table-content [contenteditable] {
  padding: 2px 6px;

  &[placeholder]:empty::before {
    content: attr(placeholder);
    z-index: 9;
    line-height: 1.7;
    color: var(--text-color-light);
    text-align: center;
    word-break: break-all;
    user-select: none;
  }

  &[placeholder]:empty:focus::before {
    content: "";
  }
}

.cell-null {
  background-color: var(--main-color-dark);
}

.cell-error {
  position: relative;
  background-color: var(--error-color);
  color: var(--text-color-error);
}
.cell-error [placeholder]:empty::before {
  color: var(--text-color-error) !important;
}

.cell-error-tooltip {
  visibility: hidden;
  width: calc(100% + 20px);
  background-color: var(--main-color-dark);
  color: var(--text-color-light);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  margin-left: -10px;
  margin-right: -10px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.cell-error-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--main-color-dark) transparent transparent transparent;
}

.cell-error:hover .cell-error-tooltip {
  visibility: visible;
  opacity: 1;
}



.dialog-form {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: calc(2.05em + 16px);
  font-size: 0.85em;
  overflow-y: auto;
}

.dialog-form-table {
  position: absolute;
  left: 0;
  right: 0;
  padding: 8px;
}

.dialog-form-table td {
  padding-right: 8px;
}

.dialog-buttons {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  font-size: 0.85em;
  background-color: var(--main-color-neutral);
}




#blank-startup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#blank-startup-menu-options {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}